#homeAdmin {
  .admin-item {
    margin-bottom: 10vh;
    height: 40vh;
  }
  .user-chart {
    width: 15vw;
    border-radius: 100%;
  }
  .admin-profile {
    width: 30%;
  }
  .admin-member {
    width: 60%;
  }
  .admin-todo {
    width: 30%;
  }
  .admin-course {
    width: 60%;
  }
}
