.footer {
  .row {
    .leftComponent {
      .logo {
        margin-bottom: 40px;

        img {
        }

        .text-white {
        }
      }

      .infoRegister {
        margin-bottom: 40px;

        .text {
          font-weight: $text-regular;
          font-size: $text-medium;
          color: $c7-white;
        }
        p {
        }

        .form {
          .form-floating {
            .form-control {
            }

            label {
            }
          }

          .btn {
            color: $c7-white;
            width: 100px;
            background-color: $c5-bg-dark-yellow;
            height: 58px;
            margin-left: 10px;
          }
          .btn:hover {
            background-color: $c5-bg-light-yellow;
          }
        }
      }

      .location {
        .locat1 {
          .bi {
          }

          .text-white {
          }
        }

        .phone {
          .bi {
          }

          .text-white {
          }
        }
      }
    }

    .centerComponent {
      .text-white {
      }

      div {
        .form-floating {
          .form-control {
          }

          label {
          }
        }

        .btn {
          color: $c7-white;
          width: 200px;
          background-color: $c5-bg-dark-yellow;
          height: 58px;
          margin-top: 10px;
        }
		.btn:hover {
            background-color: $c5-bg-light-yellow;
          }
      }

      .linkCourse {
		margin-top: 40px;
        a {
          color: $c7-white;
		  margin-right: 5px;
        }
		a:hover{
			color: $color2;
		}
      }
    }

    .rightComponent {
		overflow: hidden;
		
      iframe {
      }
	  .link{
		margin-top: 40px;
		a{
			color: $c7-white;
			margin-right: 5px;
		}
		a:hover{
			color: $color2;
		}
	  }
    }
  }
}
