.header{
    height: 70px;
    .container{
        height: 100%;
        align-items: center;
        .image{
            img{

            }
        }
        .ant-menu{
            
            
            .ant-menu-submenu{
                position: relative;
                z-index: 10;
                
                
            }

        }
    }
}